.example-spacer {
    flex: 1 1 auto;
    padding-top: 15px;
  }

.mat-toolbar{
  color: red;
  margin-top: 15px;
}

.title{
  font-size: 25px;
  font-weight: 500;
  color: blue;
}

table {
  width: 100%;
}

